@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>DevOps Tutorials <a href="https://learn.microsoft.com/aspnet/core">Welcome to the world of DevOps</a>.</p>
</div>
